#form{
    position: fixed;
    width:100%;
    height:100%;
    left:0px;
    margin-top: 50px;
    display:flex;
    font-family: questrial,Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    display:none;
    z-index: 30;
    background-color: white;
    box-shadow: 0px 0px 20px 0px white;
}
#form i{
    background-color: rgb(255, 255, 255);
    color:rgb(79, 79, 79);
    padding:10px;
    border-radius: 40px;
    font-size: 30px;
}
#form button{
    padding:15px;
    margin:40px;
    border-radius: 10px;
    font-size: 20px;
    border:0px;
   background-color: rgb(3, 129, 255);
    color:rgb(255, 255, 255);
}#cross{
    width:50px;
    height:50px;
    font-size: 40px;
   font-weight: 900;
   background-color: transparent;
   position: absolute;
   top:20px;
   left:20px;
}#errormsg{
    position: absolute;
    top:100px;
}
#signupform{
    width:100%;
    height:70%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width:500px;
    height:500px;
    border-radius: 30px;
    display:none;
}#form p{
    font-size: 20px;
}#form input{
    width:85%;
    height:50px;
    border-radius: 40px;
    outline:none;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 20px;
    max-width: 280px;
    padding-inline: 20px;
    margin:10px;
    border:0px;
    border: 1px solid rgb(50, 50, 50);
}#loginform{
    display:flex;
    flex-direction: column;
    width:97%;
    height:100%;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 255, 255);
    width:500px;
    height:500px;
    border-radius: 30px;

}@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

#loginform button{
    width:300px;
    border-radius: 30px;
}
#signupform button{
    width:300px;
    border-radius: 30px;
}
#login:hover{
    text-decoration: underline;
}
#signup:hover{
    text-decoration: underline;
}
.showanim{
    background-color: black;
    color:white;
}
@media(max-width:700px){
    #form{
        margin-top: 58px;
    }
    #cross{
       top: -20px;
       left:-40px;
    }
}
